<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link href="~/Content/stylesheets/_font-awesome.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/content/pagedList")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("ModuleStyle", false)
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/notification")
        @Styles.Render("~/notification/css")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/globals")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLigDcIQjg6_qYfjLXcQEjT4uqjWW71PU&libraries=places"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
        @if (Request.IsAuthenticated)
        {
            Html.RenderAction("TopNavBar", "Home", new { Area = "" });
            <div id="main-content">
                @*<nav class="navbar clearHeader">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a href="javascript:void(0);" class="bars" style="display: none;"></a>
                                <a class="navbar-brand" style="margin-left:23px; margin-top:6px;" href="#">Project Keys</a>

                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Notifications -->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i> <span class="label-count">7</span> </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">NOTIFICATIONS</li>
                                        <li class="notification-body">
                                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 254px;">
                                                <ul class="menu" style="overflow: hidden; width: auto; height: 254px;">
                                                    <!-- Need to populate from notification table -->
                                                    <li>
                                                        <a href="javascript:void(0);" class="waves-effect waves-block">
                                                            <div class="icon-circle bg-light-green">
                                                                <i class="zmdi zmdi-account-add"></i>
                                                            </div>
                                                            <div class="menu-info">
                                                                <h4>12 new members joined</h4>
                                                                <p>
                                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.498039); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                                                <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                            </div>
                                        </li>
                                        <li class="footer"> <a href="javascript:void(0);" class="waves-effect waves-block">View All Notifications</a> </li>
                                    </ul>
                                </li>
                                <!-- #END# Notifications -->
                                <!-- #END# Tasks -->
                            </ul>
                        </div>
                    </nav>*@


                <section class="container">
                    @RenderBody()
                </section>
            </div>
        }
        else
        {
            @RenderBody()
        }

        @RenderSection("scripts", required: false)
        @RenderSection("Modal", required: false)
        <script>
            $(document).ready(function () {
                $('#search-wrap:first').children().first().attr('method', 'get');
                jQuery.fn.putCursorAtEnd = function () {

                    return this.each(function () {

                        // Cache references
                        var $el = $(this),
                            el = this;

                        // Only focus if input isn't already
                        if (!$el.is(":focus")) {
                            $el.focus();
                        }

                        // If this function exists... (IE 9+)
                        if (el.setSelectionRange) {

                            // Double the length because Opera is inconsistent about whether a carriage return is one character or two.
                            var len = $el.val().length * 2;

                            // Timeout seems to be required for Blink
                            setTimeout(function () {
                                el.setSelectionRange(len, len);
                            }, 1);

                        } else {

                            // As a fallback, replace the contents with itself
                            // Doesn't work in Chrome, but Chrome supports setSelectionRange
                            $el.val($el.val());
                        }

                    });

                };
                (function () {
                    var searchInput = $("#searchId");
                    searchInput
                        .putCursorAtEnd() // should be chainable
                        .on("focus", function () { // could be on any event
                            searchInput.putCursorAtEnd()
                        });
                })();
            });
        </script>
    </body>
    
</html>

<style>
    body {
        position: relative;
        padding-top: 65px;
        padding-right: 0 !important;
        /*background : #edf1f7;*/
        /*background: #f9fafc;*/
        /*background : #f7f9fc;*/
        /*background : #efefef;*/
        /*background : #f4f5f7;*/
        /*background : #f7f7f7;*/
        /*background : #f2f2f2;*/
        background : #fcfcfc;
        overflow: inherit;
    }
</style>
